---
layout: default
og_image_url: http://danielliu.xyz/cover_photo.jpg
---

<section class="posts">
    {% if site.posts == null %}
        {% for post in site.posts %}
            <article class="post">
                <header>
                    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                <p>{{ post.content | strip_html | truncate: 250, '...' }}</p>
                <footer class="post-date">
                    <time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%-d %b %Y" }}</time>
                </footer>
            </article>
        {% endfor %}
    {% else %}
        <article class="post">
            <header>
                <h1 class="post-title">Nothing here.</h1>
            </header>
        </article>
    {% endif %}
</section>
